<div class="flex justify-around items-center p-3 border-b-2 border-gray-200 bg-white shadow-md">
  <a class="text-2xl font-bold text-gray-800 cursor-pointer" routerLink="/">
    Sistema
  </a>
  <div class="flex font-semibold">
    <a class="py-2 px-5 hover:bg-gray-100 rounded-md cursor-pointer transition-all" routerLink="/hombre">Hombre</a>
    <a class="py-2 px-5 hover:bg-gray-100 rounded-md cursor-pointer transition-all" routerLink="/mujer">Mujer</a>
    <a class="py-2 px-5 hover:bg-gray-100 rounded-md cursor-pointer transition-all" routerLink="/niño">Niño</a>
    <a class="py-2 px-5 hover:bg-gray-100 rounded-md cursor-pointer transition-all" routerLink="/niña">Niña</a>
  </div>
  <div class="flex items-center gap-3">
    <a routerLink="/cart" class="cursor-pointer">
      <i class="pi pi-shopping-cart" style="font-size: 1.5rem;"></i>
    </a>
    <div class="flex items-center cursor-pointer relative" (click)="toggleUserMenu()">
      <div class="bg-gray-100 px-3 py-2 rounded-full"><i class="pi pi-user" style="font-size: 1.5rem;"></i></div>
      @if (showUserMenu) {
        <div class="absolute translate-y-16 bg-white shadow-lg rounded-md mt-2 w-48 z-10">
          @if (isLogged) {
            <span class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100 font-bold">{{username.toUpperCase()}}</span>
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
          } @else {
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/auth/login">Iniciar Sesión</a>
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/auth/register">Registrarse</a>
          }
        </div>
      }
    </div>
  </div>
</div>
<router-outlet/>