<div class="max-w-[500px] mx-auto my-14 border-2 border-gray-200 rounded-2xl p-5">
  <h3 class="text-center text-2xl font-medium mb-5">Crear cuenta</h3>

  <div class="flex flex-col gap-4">
    <p-inputgroup>
      <p-inputgroup-addon>
          <i class="pi pi-envelope"></i>
      </p-inputgroup-addon>
      <input pInputText type="email" [(ngModel)]="email" placeholder="Email" />
    </p-inputgroup>
    <p-inputgroup>
      <p-inputgroup-addon>
          <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input pInputText [(ngModel)]="username" placeholder="Username" />
    </p-inputgroup>
    <p-inputgroup>
      <p-inputgroup-addon>
          <i class="pi pi-key"></i>
      </p-inputgroup-addon>
      <input pInputText [(ngModel)]="password" type="password" placeholder="Password" />
    </p-inputgroup>

    <div class="flex gap-2">
      <p class="text-gray-400">Ya tienes cuenta?</p>
      <a routerLink="/auth/login" class="cursor-pointer text-green-500 hover:text-green-700">Inicia sesión</a>
    </div>

    <p-button [disabled]="!email || !password || !username" label="Registrarse" (click)="registrar()" />
  </div>
</div>