<h2 class="text-3xl font-bold mb-3">Listado de Ventas</h2>

<div class="flex justify-between mb-4">
  <div class="flex flex-wrap gap-2">
    <p-dropdown [options]="states" [(ngModel)]="selectedStatus" placeholder="Estado" (onChange)="applyFilters()"
      class="w-48"></p-dropdown>

    <input pInputText [(ngModel)]="searchTerm" placeholder="Usuario" (input)="applyFilters()" />

    <p-datepicker [(ngModel)]="dateRange" selectionMode="range" dateFormat="yy-mm-dd" placeholder="Rango de fechas"
      (onSelect)="applyFilters()" class="w-60" />

    <p-button label="Restablecer filtros" icon="pi pi-refresh" (click)="resetFilters()"></p-button>

  </div>
</div>

<p-table [value]="filteredOrders" [paginator]="true" [paginatorPosition]="'top'" [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th>ID</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </ng-template>

  <ng-template #body let-item>
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.user.username }}</td>
      <td>{{ item.createdAt | date: 'yyyy-MM-dd' }}</td>
      <td>
        @if(item.status === 'PENDIENTE') {
        <p-tag value="Pendiente" severity="warn" />
        } @else if (item.status === 'PAGADO') {
        <p-tag value="Pagado" severity="success" />
        } @else if (item.status === 'ENVIADO') {
        <p-tag value="Enviado" severity="danger" />
        } @else if (item.status === 'ENTREGADO') {
        <p-tag value="Entregado" severity="info" />
        }
      </td>
      <td>{{ item.totalAmount | currency: 'S/. ' }}</td>
      <td>
        <p-button (click)="showDialog(item)" icon="pi pi-eye" text />
        <!-- el dropdown de abajo debe de superponerse a todo -->
        <p-dropdown [options]="[
            { label: 'Pagado', value: 'PAGADO' },
            { label: 'Enviado', value: 'ENVIADO' },
            { label: 'Entregado', value: 'ENTREGADO' }
          ]" [(ngModel)]="item.status" (onChange)="updateOrderStatus(item, $event.value)" placeholder="Cambiar estado"
          class="w-48" [appendTo]="'body'"></p-dropdown>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="visibleDialog" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <ng-template #header>
    <div class="flex flex-col text-black gap-3 w-full">
      <div>
        <strong class="font-medium text-xl me-3">Venta #{{orderToShow.id}}</strong>
        @if(orderToShow.status === 'PENDIENTE') {
        <p-tag value="Pendiente" severity="warn" [rounded]="true" />
        } @else if (orderToShow.status === 'PAGADO') {
        <p-tag value="Pagado" severity="success" [rounded]="true" />
        } @else if (orderToShow.status === 'ENVIADO') {
        <p-tag value="Enviado" severity="danger" [rounded]="true" />
        } @else if (orderToShow.status === 'ENTREGADO') {
        <p-tag value="Entregado" severity="info" [rounded]="true" />
        }
      </div>
      <p class="text-gray-500">
        Detalles completos de la orden creada el {{orderToShow.createdAt | date: 'yyyy-MM-dd'}}
      </p>
      <div class="grid grid-cols-2 gap-4 text-black">
        <div class="col-span-1 p-4 border-2 border-gray-200 rounded-lg">
          <p class="font-medium text-xl mb-3">
            <i class="pi pi-user"></i> Información del Cliente
          </p>
          <p><span class="font-medium">Nombre: </span> {{orderToShow.user.username}}</p>
          <p><span class="font-medium">Email: </span> {{orderToShow.user.email}}</p>
        </div>

        <div class="col-span-1 p-4 border-2 border-gray-200 rounded-lg">
          <p class="font-medium text-xl mb-3">
            <i class="pi pi-map-marker"></i> Dirección de envío
          </p>
          <p><span class="font-medium">Calle: </span> {{orderToShow.address.street}}</p>
          <p><span class="font-medium">Ciudad: </span> {{orderToShow.address.city}}</p>
          <p><span class="font-medium">Código postal: </span> {{orderToShow.address.zipCode}}</p>
          <p><span class="font-medium">País: </span> {{orderToShow.address.country}}</p>
        </div>
        
        <div class="col-span-2 p-4 border-2 border-gray-200 rounded-lg">
          <p class="font-medium text-xl mb-3">
            <i class="pi pi-file"></i> Resumen de la Orden
          </p>
          <p><span class="font-medium">Fecha: </span> {{orderToShow.createdAt| date: 'yyyy-MM-dd'}}</p>
          <p><span class="font-medium">Total: </span> S/. {{orderToShow.totalAmount}}</p>
          <p><span class="font-medium">Estado</span> {{orderToShow.status}}</p>
          <p><span class="font-medium">Productos: </span> {{orderToShow.orderDetails.length}}</p>
        </div>
      </div>
    </div>

  </ng-template>
</p-dialog>